.formulario-card {
    margin: 20px 40px 40px 40px;
    padding: 20px;
    width: 80%;
}

.formulario-titulo {
    margin: 0px 0px 20px 0px;
    text-align: center;
    color: #074339;
    font-size: 2em;
}

.formulario-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}