.tabla-card {
    margin: 20px 40px 40px 40px;
    padding: 20px;
}

.tabla-titulo {
    margin: 0px 0px 20px 0px;
    text-align: center;
    color: #074339;
    font-size: 2em;
}

.tabla-boton-nuevo {
    position: absolute;
    top: 0px;
    height: 70%;
}

.filter-no-result {
    padding-left: 17px;
}