.formulario-card {
    margin: 20px 40px 40px 40px;
    padding: 20px;
    width: 80%;
}

.formulario-titulo {
    margin: 0px 0px 20px 0px;
    text-align: center;
    color: #638536;
    font-size: 2em;
}

.formulario-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.mdc-button {
    background-image: linear-gradient(90deg, #A6E257 0%, #90ce40 50%, #F9FCE2 50%, #5bb79a 100%);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-position .5s ease;
}

.mdc-button:hover {
    background-position: right;
}

.mat-Select-Filter {
    padding: 0 16px;
    height: 48px;
    width: 82%;
    border: 0;
    font-size: 17px;
}

.mat-Select-Filter:focus {
    outline: none;
}

/*===========Media QUERIAS Pantalla Extra-SM==========*/
@media (max-width:768px) {

    #intro,
    #equipo {
        width: 90% !important;
    }

    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }
}

@media (max-width:576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}