<div class="formulario-body">
    <mat-card class="formulario-card">
        <h2 class="formulario-titulo">{{ tituloAccion }} Tarea</h2>
        <!-- Formulario para tareas -->
        <form class="example-form" [formGroup]="formularioTarea">

            <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile>
                    <mat-form-field style="width: 95%;">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocomplete="off" formControlName="nombre">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [rowspan]="3">
                    <mat-form-field style="width: 95%; height: 100%">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput #descripcion [cdkTextareaAutosize]="false" maxlength="255" autocomplete="off"
                            formControlName="descripcion" style="height: 185px"></textarea>
                        <mat-hint align="end">{{descripcion.value.length}} / 255</mat-hint>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field style="width: 95%">
                        <mat-label>Fecha de Inicio</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fechaInicio">
                        <mat-hint>Dia / Mes / Año</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field style="width: 95%;">
                        <mat-label>Proyecto Perteneciente</mat-label>
                        <mat-select formControlName="proyectoId">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="proyectoFiltroCtrl"
                                    placeholderLabel="Buscar Proyecto"
                                    noEntriesFoundLabel="'No se encontraron resultados'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let item of filtradoProyecto | async" [value]="item.proyId">
                                {{item.proyNombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field style="width: 95%;">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="estadoId">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="estadoFiltroCtrl"
                                    placeholderLabel="Buscar Estado"
                                    noEntriesFoundLabel="'No se encontraron resultados'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let item of filtradoEstado | async" [value]="item.estaId">
                                {{item.estaNombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-form-field style="width: 95%;">
                        <mat-label>Asignar Usuarios</mat-label>
                        <mat-select formControlName="usuariosId" (selectionChange)="seleccionUsuarios($event)" multiple>
                            <mat-option>
                                <ngx-mat-select-search [formControl]="usuarioFiltroCtrl"
                                    placeholderLabel="Buscar Usuario"
                                    noEntriesFoundLabel="'No se encontraron resultados'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let item of filtradoUsuario | async" [value]="item.usuaId">
                                {{item.usuaNombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

            </mat-grid-list>
        </form>

        <mat-card-actions align="end">
            <button mat-raised-button color="primary" routerLink="../" style="margin-right: 10px;">Volver</button>
            <button mat-raised-button color="primary" [disabled]="formularioTarea.invalid" (click)="submitTarea()">{{
                botonAccion }}</button>
        </mat-card-actions>
    </mat-card>
</div>