<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<h2 mat-dialog-title>Eliminar Tarea</h2>
<mat-dialog-content>
    <p>
        ¿Deseas eliminar la tarea: {{ nombreTarea }}?<br>
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary">Cancelar</button>
    <button mat-raised-button mat-dialog-close color="primary" (click)="tareaEliminar()">Aceptar</button>
</mat-dialog-actions>