.tabla-card {
    margin: 20px 40px 40px 40px;
    padding: 20px;
}

.tabla-titulo {
    margin: 0px 0px 20px 0px;
    text-align: center;
    color: #074339;
    font-size: 2em;
}

.tabla-boton-nuevo {
    position: absolute;
    top: 0px;
    height: 70%;
}

.filter-no-result {
    padding-left: 17px;
}

table th  {
    background-color: #F9FCE2!important;
}

@keyframes slidebg {
    to {
      background-position:20vw;
    }
}


.mdc-button:hover{
    background-image: linear-gradient(90deg, #A6E257 0%, #F9FCE2 49%, #F9FCE2 65%, #A6E257 100%);
    animation:slidebg 5s linear infinite;
 }

