.tabla-card {
    margin: 20px 40px 40px 40px;
    padding: 20px;
}

.tabla-titulo {
    margin: 0px 0px 20px 0px;
    text-align: center;
    color: #074339;
    font-size: 2em;
}

.tabla-boton-nuevo {
    position: absolute;
    top: 0px;
    height: 70%;
}

.filter-no-result {
    padding-left: 17px;
}

table th  {
    background-color: #F9FCE2!important;
}



 .mdc-button{
 
    background-image: linear-gradient(90deg, #5bb79a 0%, #5bb79a 50%, #F9FCE2 50%,#A6E257 100%);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-position .5s ease;
  }

  
  
  .mdc-button:hover {
    background-position: right;
  }
