/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

/* Cambiamos los colores del angular material */
$primario: mat.define-palette(mat.$teal-palette, A700);
$secundario: mat.define-palette(mat.$light-green-palette, A700);

$my-theme: mat.define-light-theme((color: (primary: $primario,
                accent: $secundario,
            ),
            typography: mat.define-typography-config(),
            density: 0,
        ));

@include mat.all-component-themes($my-theme);

@font-face {
    font-family: GontserratB;
    src: url(assets/fonts/Gontserrat-Regular.ttf) format('truetype');
}

html,
body {
    height: 100%;
}

* {
    font-family: GontserratB;
}

body {
    margin: 0;
}

/* Propiedades del SnackBar */
.mat-mdc-snack-bar-container {
    text-align: center;

    &.successSnackBar {
        --mdc-snackbar-container-color: #0faf00;
        --mat-mdc-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: white;
    }

    &.dangerSnackBar {
        --mdc-snackbar-container-color: #c20000;
        --mat-mdc-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: white;
    }
}

.mat-form-field.fill-container textarea {
    height: calc(100% - 25px);
}