/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

/* Cambiamos los colores del angular material */
$primario: mat.define-palette(mat.$green-palette, 700);
$secundario: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
    color: (
        primary: $primario,
        accent: $secundario,
    ),
    typography: mat.define-typography-config(),
    density: 0,
));

@include mat.all-component-themes($my-theme);

@font-face {
    font-family: GontserratB;
    src: url(assets/fonts/Gontserrat-Medium.ttf) format('truetype');
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: GontserratB;
}

.mat-mdc-snack-bar-container {
    &.successSnackBar {
        --mdc-snackbar-container-color: #0faf00;
        --mat-mdc-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: white;
    }

    &.dangerSnackBar {
        --mdc-snackbar-container-color: #c20000;
        --mat-mdc-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: white;
    }
}