/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: GontserratB ;
    src: url(assets/fonts/Gontserrat-Medium.ttf) format('truetype');
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: GontserratB;
}

.mat-mdc-snack-bar-container {
    &.successSnackBar {
        --mdc-snackbar-container-color: #0faf00;
        --mat-mdc-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: white;
    }
    &.dangerSnackBar {
        --mdc-snackbar-container-color: #c20000;
        --mat-mdc-snack-bar-button-color: white;
        --mdc-snackbar-supporting-text-color: white;
    }
}