<div class="home-body">
    <p>¡Innovación, como servicio!</p>
    <p style="margin-top: 40px;"><b>WorkFlow</b></p>
    <p>¡Mejoremos su progreso juntos!</p>
    <p>Conversa con nuestros proveedores.</p>
</div>
<mat-divider></mat-divider>

<!-- Apartado de servicios -->
<div style="height: 100%; margin-top: 50px;">
    <h2 style="text-align: center;">¿Cuales son las ventajas de usar nuestro servicio de WorkFlow?</h2>
    <mat-grid-list cols="3" rowHeight="500px">
        <mat-grid-tile>
            <mat-card style="width: 90%; height: 90%;">
                <img mat-card-image src="../../../../assets/img/information.jpg">
                <mat-card-header>
                    <mat-card-title><b>Centralización de la información</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Ofrecer un espacio único donde todos los detalles del proyecto y tareas están centralizados.
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card style="width: 90%; height: 90%;">
                <img mat-card-image src="../../../../assets/img/gestionTiempo.png">
                <mat-card-header>
                    <mat-card-title><b>Gestión eficiente del tiempo</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Con herramientas de seguimiento del tiempo y planificación de tareas,
                        puede ayudar a optimizar la distribución del tiempo y recursos.
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card style="width: 90%; height: 90%;">
                <img mat-card-image src="../../../../assets/img/flexibilidadEscalabilidad.png">
                <mat-card-header>
                    <mat-card-title><b>Flexibilidad y escalabilidad</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Capacidad de personalizar flujos de trabajo y ajustar la herramienta a
                        las necesidades del proyecto es una ventaja significativa.
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card style="width: 90%; height: 90%;">
                <img mat-card-image src="../../../../assets/img/reduccionErrores.jpg">
                <mat-card-header>
                    <mat-card-title><b>Reducción de errores y duplicidades</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        WorkFlow puede ayudar a minimizar errores humanos y evitar la duplicidad de esfuerzos.
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card style="width: 90%; height: 90%;">
                <img mat-card-image src="../../../../assets/img/trabajoEquipo.jpg">
                <mat-card-header>
                    <mat-card-title><b>Mejora de la colaboración</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Los equipos pueden trabajar juntos de manera más eficiente y mantenerse actualizados sobre el
                        progreso del proyecto.
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card style="width: 90%; height: 90%;">
                <img mat-card-image src="../../../../assets/img/information.jpg">
                <mat-card-header>
                    <mat-card-title><b>Seguridad de datos</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Ofrece robustas medidas de seguridad para proteger la información del proyecto.
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<mat-divider style="margin: 50px 20%;"></mat-divider>

<!-- Apartado Marketing -->
<div style="height: 100%; margin-top: 50px;">
<h2 style="text-align: center;">Una servicio unico para todas tus necesidades de <h1 style="margin: 0;">Marketing
        Digital</h1>
</h2>
<p style="text-align: center;"><b>ExpertD</b>, la agencia donde te ayudamos establecer tu presencia online. SEO, paginas
    WEB, tiendas virtuales, redes sociales</p>
<mat-grid-list cols="3" rowHeight="530px">
    <mat-grid-tile>
        <mat-card style="width: 90%; height: 90%;">
            <img mat-card-image src="../../../../assets/img/demostracion.jpg">
            <mat-card-header>
                <mat-card-title><b>Demostraciones</b></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Realiza una demostracion en vivo de las funciones y caracteristicas que WorkFlow trae para usted.
                </p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button>DEMOSTRACIÓN</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="width: 90%; height: 90%;">
            <img mat-card-image src="../../../../assets/img/comprar.png">
            <mat-card-header>
                <mat-card-title><b>Casos prácticos</b></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Descubre cómo puedes adaptar WorkFlow para satisfacer las necesidades de tu equipo.
                </p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button>COMPRAR</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="width: 90%; height: 90%;">
            <img mat-card-image src="../../../../assets/img/practicasRecomendada.png">
            <mat-card-header>
                <mat-card-title><b>Prácticas recomendadas</b></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Descubre cómo WorkFlow ayudará a tu empresa a mejorar la calidad de trabajo de forma rapida y eficiente.
                </p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button>VER REQUISITOS</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</div>