.home-body {
    background-image: url("../../../../assets/img/home-picture.jpg");
    background-size: cover;
    height: 71vh;
    color: white;
    text-align: center;
    padding-top: 15%;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
}