<div class="home-body">
    <p>¡Innovación, como servicio!</p>
    <p style="margin-top: 40px;"><b>WorkFlow</b></p>
    <p>¡Mejoremos su progreso juntos!</p>
    <p>Conversa con nuestros proveedores.</p>
</div>

<!-- Apartado de servicios -->
<div style="height: 100%; margin-top: 50px;">
    <h2 style="text-align: center;">¿Cuales son las ventajas de usar nuestro servicio de WorkFlow?</h2>
    <mat-grid-list cols="3" rowHeight="500px">
        <mat-grid-tile>
            <mat-card style="width: 90%; height: 90%;">
                <img mat-card-image src="../../../../assets/img/information.jpg">
                <mat-card-header>
                    <mat-card-title><b>Centralización de la información</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Ofrecer un espacio único donde todos los detalles del proyecto y tareas están centralizados.
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card style="width: 90%; height: 90%;">
                <img mat-card-image src="../../../../assets/img/gestionTiempo.png">
                <mat-card-header>
                    <mat-card-title><b>Gestión eficiente del tiempo</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Con herramientas de seguimiento del tiempo y planificación de tareas,
                        puede ayudar a optimizar la distribución del tiempo y recursos.
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card style="width: 90%; height: 90%;">
                <img mat-card-image src="../../../../assets/img/flexibilidadEscalabilidad.png">
                <mat-card-header>
                    <mat-card-title><b>Flexibilidad y escalabilidad</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Capacidad de personalizar flujos de trabajo y ajustar la herramienta a
                        las necesidades del proyecto es una ventaja significativa.
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card style="width: 90%; height: 90%;">
                <img mat-card-image src="../../../../assets/img/reduccionErrores.jpg">
                <mat-card-header>
                    <mat-card-title><b>Reducción de errores y duplicidades</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        WorkFlow puede ayudar a minimizar errores humanos y evitar la duplicidad de esfuerzos.
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card style="width: 90%; height: 90%;">
                <img mat-card-image src="../../../../assets/img/trabajoEquipo.jpg">
                <mat-card-header>
                    <mat-card-title><b>Mejora de la colaboración</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Los equipos pueden trabajar juntos de manera más eficiente y mantenerse actualizados sobre el
                        progreso del proyecto.
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card style="width: 90%; height: 90%;">
                <img mat-card-image src="../../../../assets/img/information.jpg">
                <mat-card-header>
                    <mat-card-title><b>Seguridad de datos</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Ofrece robustas medidas de seguridad para proteger la información del proyecto.
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<!-- Intro -->
<section class="w-50 mx-auto text-center pt-5" id="Intro">
    <h1 class="p-3 fs-2 border-top -3border">Una servicio unico para todas tus necesidades de <span class="text-primary">
            Marketin Digital</span></h1>
    <p class="p-3 fs-4"><span class="text-primary">ExpertD.</span> la agencia donde te ayudamos establecer tu presencia
        online.
        SEO, paginas WEB, tiendas virtuales, redes sociales</p>
</section>

<div class="container">
    <div class="row">
        <!-- Columna para los Cards -->
        <div class="col-md-3">
            <div class="card-container">
                <div class="card">
                    <img src="https://www.estudaqui.com/wp-content/uploads/2019/03/aplicativos-para-organizar-estudo-1.jpg"
                        class="card-img-top" alt="promo1">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Demostraciones</strong></h5>
                        <p class="card-text">Descubre cómo funciona WorkFlow y hazte una
                            idea de lo básico.</p>
                        <a href="#" class="button-link">Reserva</a>
                    </div>
                </div>
                <div class="card">
                    <img src="https://static.vecteezy.com/system/resources/previews/005/734/002/non_2x/scholarship-certificate-money-and-book-cartoon-icon-illustration-education-financial-icon-concept-isolated-premium-flat-cartoon-style-vector.jpg">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Casos prácticos</strong></h5>
                        <p class="card-text">Descubre cómo puedes adaptar WorkFlow para
                            satisfacer las necesidades de tu equipo.</p>
                        <a href="#" class="button-link">Compra Ya</a>
                    </div>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="https://img.freepik.com/vector-premium/leyendo-libro-papel-vista-superior-mesa-aprendizaje-escritorio-o-escritorio-educativo-estudie-libro-texto-abierto-sobre-plano-dibujos-animados_212005-137.jpg"
                        class="card-img-top" alt="promo1">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Prácticas recomendadas</strong></h5>
                        <p class="card-text">Descubre cómo sacar el máximo provecho a WorkFlow</p>
                        <a href="#" class="button-link">Ver requisitos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>