<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1 style="margin: 0px;">ProjectTracker</h1>
        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>
        <span style="flex: 1 1 auto;"></span>
        <!-- Acá se mostrará el nombre de usuario y el nombre del permiso de usuario que inicie sesion -->
        <label style="font-size: 14px; margin-right: 20px;">{{ userName }} | {{ permisoNombre }}</label>
        <button mat-icon-button (click)="cerrarSesion()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="false" mode="over" style="width: 200px;">
        <mat-nav-list>
            <mat-list-item routerLink="/pages/usuario">
                <mat-icon matListItemIcon style="color: black;">group</mat-icon>
                <div mat-line>Usuarios</div>
            </mat-list-item>
            <mat-list-item routerLink="/pages/tarea">
                <mat-icon matListItemIcon style="color: black;">group</mat-icon>
                <div mat-line>Tarea</div>
            </mat-list-item>
            <mat-list-item routerLink="/pages/proyecto">
                <mat-icon matListItemIcon style="color: black;">group</mat-icon>
                <div mat-line>Proyecto</div>
            </mat-list-item>
            <mat-list-item routerLink="/pages/tareausuario">
                <mat-icon matListItemIcon style="color: black;">group</mat-icon>
                <div mat-line>Tarea Usuario</div>
            </mat-list-item>
            <!--
            <mat-list-item routerLink="/Pages/Producto" *ngIf="rolUsuario == 'Administrador' || rolUsuario == 'Supervisor'">
                <mat-icon matListItemIcon style="color: black;">collections_bookmark</mat-icon>
                <div mat-line>Productos</div>
            </mat-list-item>
            -->
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 90vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>