
<mat-toolbar color="primary" class="grad-back fixed-toolbar">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle();" class="color-dark">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="../../../assets/img/logoWF.png" style="width: 40px; margin: 0px 10px;">
        <h1 class="font-primary" style="margin: 0px;">WorkFlow</h1>
        <span style="flex: 1 1 auto;" ></span>
        <!-- Acá se mostrará el nombre de usuario y el nombre del permiso de usuario que inicie sesion -->
        <label class="color-dark" style="font-size: 14px; margin-right: 20px;">{{ userName }} | {{ permisoNombre }}</label>
        <button mat-icon-button (click)="cerrarSesion()" class="color-dark">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="false" mode="over" class="fixed-sidenav" style="width: 200px;">
        <mat-nav-list>
            <mat-list-item>
                <mat-icon matListItemIcon style="color: black;">group</mat-icon>
                <div mat-line></div>
            </mat-list-item>
            <mat-list-item routerLink="/pages/usuario">
                <mat-icon matListItemIcon style="color: black;">group</mat-icon>
                <div mat-line>Usuarios</div>
            </mat-list-item>
            <mat-list-item routerLink="/pages/tarea">
                <mat-icon matListItemIcon style="color: black;">group</mat-icon>
                <div mat-line>Tarea</div>
            </mat-list-item>
            <mat-list-item routerLink="/pages/proyecto">
                <mat-icon matListItemIcon style="color: black;">group</mat-icon>
                <div mat-line>Proyecto</div>
            </mat-list-item>
            <mat-list-item routerLink="/pages/tareausuario">
                <mat-icon matListItemIcon style="color: black;">group</mat-icon>
                <div mat-line>Tarea Usuario</div>
            </mat-list-item>
            <!--
            <mat-list-item routerLink="/Pages/Producto" *ngIf="rolUsuario == 'Administrador' || rolUsuario == 'Supervisor'">
                <mat-icon matListItemIcon style="color: black;">collections_bookmark</mat-icon>
                <div mat-line>Productos</div>
            </mat-list-item>
            -->
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content-background">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>