.fixed-toolbar{
    position: sticky;
    position: -webkit-sticky; /* Para macOS/iOS Safari */
    top: 0; /* Fija la barra de herramientas en la parte superior */
    z-index: 1000; /* Asegura que el contenido de tu aplicación no se superponga a la barra de herramientas */
}

.fixed-sidenav{
    position: fixed;
}

.content-background{
    font-family: 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, #fff, #d6dbd5);
    height: 93.1vh;
}


.grad-back{
    background: rgb(166,226,87);
    background: linear-gradient(45deg, rgba(166,226,87,1) 17%, rgba(249,252,226,1) 50%, rgba(91,183,154,1) 91%);
}    

.font-primary{
    font-family: GontserratB!important;
    color: #0F0D17;
}

.color-dark{
    color: #0F0D17!important;
}

@keyframes slidebg {
    to {
      background-position:20vw;
    }
}


.mat-mdc-list-item:hover{
    background-image: linear-gradient(90deg, #A6E257 0%, #F9FCE2 50%, #F9FCE2 65%, #A6E257 100%);
    animation:slidebg 5s linear infinite;
}