<h2 mat-dialog-title>Actualizar Estado de Tarea</h2>
<mat-dialog-content>
    <form class="form" [formGroup]="formularioTarea">
        <mat-grid-list cols="2" rowHeight="80px">
            <mat-grid-tile [colspan]="2">
                <mat-form-field style="width: 98%;">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estadoId">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="estadoFiltroCtrl"
                                placeholderLabel="Buscar Estado"
                                noEntriesFoundLabel="'No se encontraron resultados'"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of filtradoEstado | async" [value]="item.estaId">
                            {{item.estaNombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close mat-primary>Volver</button>
    <button mat-raised-button mat-dialog-close color="primary" [disabled]="formularioTarea.invalid"
        (click)="submitTarea()">{{ botonAccion }}</button>
</mat-dialog-actions>