.home-body {
    background-image: url("../../../assets/img/home-picture.jpg");
    background-size: cover;
}

.text-home {
    text-align: center;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 2px black;
}